<div class="bg-light lter  wrapper-md">
  <h1 class="m-n font-thin h3"> Modificación de cuenta </h1>
</div>
<div class="wrapper-md">
  <div>
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="alert alert-success" ng-show="success">
          <strong> Se ha modificado su cuenta exitosamente</strong>
        </div>

        <div class="alert alert-danger" ng-show="errorEmailExists">
          <strong> El correo electrónico ingresado ya se encuentra en uso </strong>
        </div>

        <div class="alert alert-danger" ng-show="error">
          <strong> Un error inesperado ha ocurrido. Por favor intente después </strong>
        </div>

        <form name="stForm" role="form" novalidate ng-submit="save()" show-validation>
          <div class="form-group">
            <label>* Nombre </label>
            <input type="text" class="form-control" name="firstName" placeholder="Nombre"
                   ng-model="settingsAccount.firstName" ng-maxlength=50
                   required maxlength="50">
            <div class="has-error" ng-messages="stForm.firstName.$error"
                 ng-show="stForm.firstName.$touched">
              <label class="control-label" ng-message="required">
                Debe ingresar un nombre
              </label>
              <label class="control-label" ng-message="maxlength">
                El nombre debe tener como máximo 50 carácteres
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>* Apellidos </label>
            <input type="text" class="form-control" name="lastName" placeholder="Apellidos"
                   ng-model="settingsAccount.lastName" ng-maxlength=50
                   required maxlength="50">
            <div class="has-error" ng-messages="stForm.lastName.$error"
                 ng-show="stForm.lastName.$touched">
              <label class="control-label" ng-message="required">
                Debe ingresar un apellido
              </label>
              <label class="control-label" ng-message="maxlength">
                El apellido debe tener como máximo 50 carácteres
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>* Correo Electrónico </label>
            <input type="email" class="form-control" name="email" placeholder="Correo Electrónico"
                   ng-model="settingsAccount.email" ng-minlength="5" ng-maxlength="100"
                   required maxlength="100">
            <div class="has-error" ng-messages="stForm.email.$error"
                 ng-show="stForm.email.$touched">
              <label class="control-label" ng-message="required">
                Debe ingresar un correo electrónico
              </label>
              <label class="control-label" ng-message="email">
                El correo electrónico ingresado no es válido
              </label>
              <label class="control-label" ng-message="minlength">
                El correo electrónico debe tener como mínimo 100 carácteres
              </label>
              <label class="control-label" ng-message="maxlength">
                El correo electrónico debe tener como máximo 100 carácteres
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-info pull-right" ng-disabled="stForm.$invalid">
            Modificar
          </button>
        </form>
        <button class="btn btn-danger" ng-click="open()">
          Eliminar Cuenta
        </button>
      </div>
    </div>
  </div>
</div>
