<div class="modal-header">
  <h4 class="modal-title m-n font-thin h3"> Confirmar eliminación </h4>
</div>
<div class="modal-body">
  <div class="m-b" ng-show="errorMessage.length">
    <span class="label text-base bg-danger pos-rlt m-r">
      {{ errorMessage }}
    </span>
  </div>
  <p class="h5"> ¿Desea eliminar la organización? </p>
  <div class="padder-v item wrapper">
    <p class="h3 text-info font-thin m-t-sm"> {{ organization.name }} </p>
    <p class="h5"> {{ organization.createdAt | date:"dd/MM/yyyy '|' h:mma" }} </p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="deleteOrg()"> Eliminar </button>
  <button class="btn btn-warning" ng-click="cancel()"> Cancelar </button>
</div>
