<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{email.temporalaccess.title}">JHipster activation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.activation.greeting(
  ${temporalAccess.monitorContactByMonitorContactId.getFirstName()})}">
  Dear
</p>
<p th:text="#{email.temporalaccess.text1(
  ${temporalAccess.eventByEventId.getDescription()})}">
</p>
<p th:text="#{email.temporalaccess.horaInicio(
  ${temporalAccess.eventByEventId.getStartDate()})}">
</p>
<p th:text="#{email.temporalaccess.horaFin(
  ${temporalAccess.eventByEventId.getEndDate()})}">
</p>
<p th:text="#{email.temporalaccess.password(
  ${temporalAccess.getPassword()})}">
</p>
<p>
  <a th:href="@{|${baseUrl}/#/access?key=${temporalAccess.getId()}|}"
     th:text="#{email.temporalaccess.enlace}">Activation Link</a>
</p>
<p>
  <span th:text="#{email.activation.text2}">Regards, </span>
  <br/>
  <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
