<div class="container w-xxl w-auto-xs">
  <h3 class="navbar-brand block m-t-n"> Social Dump </h3>
  <div class="alert alert-danger" ng-show="keyMissing">
    <strong> Enlace inválido. Por favor revise su correo electrónico </strong>
  </div>
  <div class="alert alert-warning" ng-hide="success || keyMissing">
    <p> Por favor ingrese una nueva contraseña </p>
  </div>

  <div class="alert alert-danger" ng-show="error">
    <p> Su contraseña no pudo ser restablecida. Por favor recuerde que la solicitud es únicamente
      válida por 24 horas.
    </p>
  </div>

  <div class="alert alert-success" ng-show="success">
    <p>
      <strong> Su contraseña ha sido restablecida.</strong> Por favor
      <a href="#/login"> inicie sesión </a>.
    </p>
  </div>

  <div class="m-b-lg" ng-hide="keyMissing">
    <form ng-show="!success" name="form" role="form" novalidate ng-submit="finishReset()"
        show-validation>
      <div class="list-group list-group-sm">
        <div class="list-group-item white-background">
          <input type="password" class="form-control no-border" name="password"
                 placeholder="Nueva contraseña" ng-model="resetAccount.password"
                 ng-minlength=5 ng-maxlength=50 required>
        </div>
        <div class="has-error" ng-messages="form.password.$error" ng-show="form.password.$touched">
          <label class="control-label" ng-message="required"> Debe ingresar una contraseña </label>
          <label class="control-label" ng-message="minlength">
            La contraseña debe tener como mínimo 5 caracteres
          </label>
          <label class="control-label" ng-message="maxlength">
            La contraseña debe tener como máximo 50 caracteres
          </label>
        </div>

        <div class="list-group-item white-background">
          <input type="password" class="form-control no-border" name="confirmPassword"
                 placeholder="Confirmar nueva contraseña" ng-model="confirmPassword"
                 ng-minlength=5 ng-maxlength=50 required>
        </div>
        <div class="has-error" ng-messages="form.confirmPassword.$error" ng-show="form.confirmPassword.$touched">
          <label class="control-label" ng-message="required"> Debe confirmar la contraseña </label>
          <label class="control-label" ng-message="minlength">
            La confirmación de contraseña debe tener como mínimo 5 caracteres
          </label>
          <label class="control-label" ng-message="maxlength">
            La confirmación de contraseña debe tener como máximo 50 caracteres
          </label>
          <label class="control-label" ng-show="form.confirmPassword.$valid && validatePasswords()">
            Las contraseñas no coinciden
          </label>
        </div>

      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="form.$invalid || validatePasswords()">
        Restablecer Contraseña
      </button>

    </form>
  </div>
</div>
