
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
        ng-click="clear()">&times;</button>
    <h4 class="modal-title" id="myEventLabel" ng-switch="!!event.id">
      <span ng-switch-when="false">Crear un</span>
      <span ng-switch-when="true">Modificar el</span>
      Evento
    </h4>
  </div>
  <div class="modal-body">
    <div class="form-group hide">
      <label>ID</label>
      <input type="text" class="form-control" name="id"
          ng-model="event.id" readonly>
    </div>


    <div class="form-group">
      <label for="field_hashtag"># Hashtag</label>
      <input type="text" class="form-control" name="hashtag" id="field_hashtag"
          ng-model="event.hashtag" required>
      <div ng-show="editForm.$submitted || editForm.hashtag.$touched">
        <div ng-show="editForm.hashtag.$invalid">
          <p class="help-block"
            ng-show="editForm.hashtag.$error.required">
            Este campo es requerido.
          </p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <p>Redes sociales</p>
      <label class="pointer rel" for="{{socialNetwork.name}}"
             ng-repeat="socialNetwork in socialNetworks">
        <div ng-bind-html="socialNetwork.icon"></div>
        <input type="checkbox" name="{{socialNetwork.name}}"
               id="{{socialNetwork.name}}" class="hide"
               ng-model="socialNetworksDict[socialNetwork.name].selected"
               checked="checked" />
        <div class="icon-block-overlay"
             ng-show="!!(socialNetworksDict[socialNetwork.name].selected)"></div>
      </label>
    </div>


    <div class="form-group">
      <label for="field_startDate">Comienza</label>
      <div class="row">
        <div class="col-lg-6">
        <input type="date" class="form-control" name="startDate" id="field_startDate"
            ng-model="event.startDate" required>
        </div>

        <div class="col-lg-6">
          <select class="form-control digital-font" id="field_startTime"
                  name="startTime" ng-model="event.startTime"
                  ng-options="hour as hour for hour in hours"
                  ng-change="changeStartTime(event.startTime)">
          </select>
        </div>`
      </div>

      <div ng-show="editForm.startDate.$invalid">
        <p class="help-block"
          ng-show="editForm.startDate.$error.required">
          Este campo es requerido.
        </p>
      </div>
    </div>


    <div class="form-group">
      <label for="field_endDate">Termina</label>
      <div class="row">

        <div class="col-lg-6">
          <input type="date" class="form-control" name="endDate" id="field_endDate"
              ng-model="event.endDate"
              ensure-date-greater-than="{{event.startDate.toUTCString()}}"
              required>
        </div>
        <div class="col-lg-6">
          <select class="form-control digital-font" id="field_endTime"selectedTemplate
                  name="field_endTime" ng-model="event.endTime"
                  ng-options="hour as hour for hour in hours"
                  ng-change="changeEndTime(event.endTime)">
          </select>
        </div>
      </div>

      <div ng-show="editForm.endDate.$invalid">
        <p class="help-block"
          ng-show="editForm.endDate.$error.required">
          Este campo es requerido.
        </p>
        <p class="help-block"
          ng-show="editForm.endDate.$error.dateGreaterThan">
          El evento no puede terminar antes de que empiece.
        </p>
      </div>
    </div>


    <div class="form-group">
      <label for="field_description">Descripción</label>
      <input type="text" class="form-control" name="description" id="field_description"
          ng-model="event.description" required>

      <div ng-show="editForm.description.$invalid">
        <p class="help-block"
          ng-show="editForm.description.$error.required">
          Este campo es requerido.
        </p>
      </div>
    </div>


    <div class="form-group">
      <label for="field_type">Tipo</label>
      <select class="form-control" id="field_type"
              name="type" ng-model="event.typeId"
              ng-options="eventType.id as eventType.name for eventType in eventTypes"
              required>
      </select>
      <div ng-show="editForm.type.$invalid">
        <p class="help-block"
          ng-show="editForm.type.$error.required">
          Este campo es requerido.
        </p>
      </div>
    </div>


    <div class="form-group">
      <label for="field_postDelay">Segundos de obtener para obtener Posts</label>
      <input type="number" class="form-control" name="postDelay" id="field_postDelay"
          ng-model="event.postDelay" required>

      <div ng-show="editForm.postDelay.$invalid">
        <p class="help-block"
          ng-show="editForm.postDelay.$error.required">
          Este campo es requerido.
        </p>
        <p class="help-block"
          ng-show="editForm.postDelay.$error.number">
          Este campo solo acepta números.
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
    </button>
  </div>
</form>
