
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEventLabel">Create or edit a Event</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="event.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_startDate">StartDate</label>
            <input type="date" class="form-control" name="startDate" id="field_startDate"
                    ng-model="event.startDate" required>

            <div ng-show="editForm.startDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.startDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_endDate">EndDate</label>
            <input type="date" class="form-control" name="endDate" id="field_endDate"
                    ng-model="event.endDate" required>

            <div ng-show="editForm.endDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.endDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="event.description" required>

            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_activatedAt">ActivatedAt</label>
            <input type="date" class="form-control" name="activatedAt" id="field_activatedAt"
                    ng-model="event.activatedAt">

        </div>
        <div class="form-group">
            <label for="field_postDelay">PostDelay</label>
            <input type="number" class="form-control" name="postDelay" id="field_postDelay"
                    ng-model="event.postDelay" required>

            <div ng-show="editForm.postDelay.$invalid">
                <p class="help-block"
                    ng-show="editForm.postDelay.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.postDelay.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_organizationByOrganizationId">organizationByOrganizationId</label>
            <select class="form-control" id="field_organizationByOrganizationId" name="organizationByOrganizationId" ng-model="event.organizationByOrganizationId.id" ng-options="organization.id as organization.name for organization in organizations">
            </select>
        </div>
        <div class="form-group">
            <label for="field_eventStatusByStatusId">eventStatusByStatusId</label>
            <select class="form-control" id="field_eventStatusByStatusId" name="eventStatusByStatusId" ng-model="event.eventStatusByStatusId.id" ng-options="eventStatus.id as eventStatus.status for eventStatus in eventstatuss">
            </select>
        </div>
        <div class="form-group">
            <label for="field_eventTypeByEventTypeId">eventTypeByEventTypeId</label>
            <select class="form-control" id="field_eventTypeByEventTypeId" name="eventTypeByEventTypeId" ng-model="event.eventTypeByEventTypeId.id" ng-options="eventType.id as eventType.name for eventType in eventtypes">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
