
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
        ng-click="clear()">&times;</button>
    <h4 class="modal-title" id="myEventLabel">
      <span ng-hide="!!event.id">Crear</span>
      <span ng-show="!!event.id">Modificar</span>
      un Evento
    </h4>
  </div>
  <div class="modal-body">
    <div class="form-group hide">
      <label>ID</label>
      <input type="text" class="form-control" name="id"
          ng-model="event.id" readonly>
    </div>

    <div class="form-group">
      <label for="field_startDate">Comienza</label>
      <input type="date" class="form-control" name="startDate" id="field_startDate"
          ng-model="event.startDate" required>

      <div ng-show="editForm.startDate.$invalid">
        <p class="help-block"
          ng-show="editForm.startDate.$error.required">
          Este campo es requerido.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="field_endDate">Termina</label>
      <input type="date" class="form-control" name="endDate" id="field_endDate"
          ng-model="event.endDate" required>

      <div ng-show="editForm.endDate.$invalid">
        <p class="help-block"
          ng-show="editForm.endDate.$error.required">
          Este campo es requerido.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="field_description">Descripción</label>
      <input type="text" class="form-control" name="description" id="field_description"
          ng-model="event.description" required>

      <div ng-show="editForm.description.$invalid">
        <p class="help-block"
          ng-show="editForm.description.$error.required">
          Este campo es requerido.
        </p>
      </div>
    </div>

    <div class="form-group" ng-hide="!!event.id">
      <div class="checkbox">
        <label class="i-checks">
          <input type="checkbox" name="accessChk" ng-model="sameHashtag">
          <i></i> Seguir el mismo hashtag para todas las redes sociales
        </label>
      </div>
    </div>
    <div class="form-group" ng-hide="!sameHashtag || !!event.id">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-twitter"></i>
          <i class="fa fa-instagram"></i>
          <span class="h4"> &nbsp # </span>
        </span>
        <input type="text" class="form-control" name="allHashtags" ng-init="event.searchCriterias = []"
            ng-model="event.searchCriterias[0]"
            ng-change="event.searchCriterias[1] = event.searchCriterias[0]"
            placeholder="Hashtag a seguir a seguir"
            ng-required="sameHashtag || !!event.id">
      </div>
      <div class="has-error" ng-messages="editForm.allHashtags.$error"
           ng-show="editForm.allHashtags.$touched">
        <label class="control-label" ng-message="required">
          Este campo es requerido
        </label>
      </div>
    </div>
    <div class="form-group" ng-show="!sameHashtag && !event.id">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-twitter"></i>
          <span class="h4"> &nbsp # </span>
        </span>
        <input type="text" class="form-control" name="twitterHashtag"
               ng-model="event.searchCriterias[0]"
               placeholder="Hashtag a seguir en Twitter"
               ng-required="!sameHashtag || !!event.id">
      </div>
      <div class="has-error" ng-messages="editForm.twitterHashtag.$error"
           ng-show="editForm.twitterHashtag.$touched">
        <label class="control-label" ng-message="required">
          Este campo es requerido
        </label>
      </div>
    </div>
    <div class="form-group" ng-show="!sameHashtag && !event.id">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-instagram"></i>
          <span class="h4"> &nbsp # </span>
        </span>
        <input type="text" class="form-control" name="instagramHashtag"
               ng-model="event.searchCriterias[1]"
               placeholder="Hashtag a seguir en Instagram"
               ng-required="!sameHashtag || !!event.id">
      </div>
      <div class="has-error" ng-messages="editForm.instagramHashtag.$error"
           ng-show="editForm.instagramHashtag.$touched">
        <label class="control-label" ng-message="required">
          Este campo es requerido
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="field_postDelay">Demora para rechazar Posts</label>
      <input type="number" class="form-control" name="postDelay" id="field_postDelay"
          ng-model="event.postDelay" required>

      <div ng-show="editForm.postDelay.$invalid">
        <p class="help-block"
          ng-show="editForm.postDelay.$error.required">
          Este campo es requerido.
        </p>
        <p class="help-block"
          ng-show="editForm.postDelay.$error.number">
          Este campo solo acepta números.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="field_type">Tipo</label>
      <select class="form-control" id="field_type" name="type" ng-model="event.typeId"
              ng-options="eventType.id as eventType.name for eventType in eventTypes">
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
    </button>
  </div>
</form>
