<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> Accesos Temporales </h1>
</div>
<div class="wrapper-md">
  <a class="btn m-b-xs btn-sm btn-success btn-addon m-r-sm" ng-click="open(null, 'create')"
      ng-disabled="checkAddState()">
    <i class="fa fa-plus">
    </i> Agregar
  </a>
  <span class="label text-base bg-info pos-rlt m-r" ng-show="events.length === 0">
    No ha creado ningún evento
  </span>
  <span class="label text-base bg-info pos-rlt m-r"
      ng-show="gridTemporalAccesses.data.length === 0 && !isSelectedEventEmpty()
        && !checkSelectedEventEndDate()">
    No ha habilitado ningún acceso temporal. Evento activo
  </span>
  <span class="label text-base bg-info pos-rlt m-r"
      ng-show="checkSelectedEventEndDate()">
    No habilitó ningún acceso temporal para este evento. Evento Finalizado
  </span>
  <ui-select ng-init="getEventOptions()" ng-model="event" on-select="loadAccesses($item, $model)"
             theme="bootstrap" ng-required="true" ng-disabled="events.length === 0">
    <ui-select-match placeholder="Seleccione o busque el evento">
      {{$select.selected.description}}
      {{$select.selected.startDate | date:"dd/MM/yyyy '|' h:mma"}}
      -
      {{$select.selected.endDate | date:"dd/MM/yyyy '|' h:mma"}}
    </ui-select-match>
    <ui-select-choices repeat="event in events | filter: $select.search">
      <div ng-bind-html="event.description | highlight: $select.search"></div>
      <small ng-bind-html="event.startDate | date: dd/MM/yyyy | highlight: $select.search">

      </small>
    </ui-select-choices>
  </ui-select>

  <div class="table-responsive m-b-lg">
    <div ui-grid="gridTemporalAccesses"></div>
  </div>
  <div class="pull-right" ng-hide="!gridTemporalAccesses.data.length || totalItems < 9">
    <pagination direction-links="false" total-items="totalItems" ng-model="currentPage"
                ng-change="pageChanged()" num-pages="smallnumPages" items-per-page="8"></pagination>
  </div>
</div>
