#post-main-wrapper {
	background-color:#424242;
	margin:0;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
    left: 0px;
    z-index: -1;
}

.list-group-item {
	background-color: transparent;
}

div.white-background {
  background-color: #FFFFFF;
}

.wrapper-post {
	top:0px;
}

.circle-card {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
}
/*
.bg-light.lter.b-b{
	border-bottom-width: 3px;
	border-color: #FF5252;
}

.bg-light.lter.b-r{
	border-right-width: 2px;
	border-color: #95a5a6;
}
*/
.filter-wrapper {
	height: 65px;
	width:25%;
}

/*
#nav-public {
  	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
  	/* IE 8
 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	/* IE 5-7
	filter: alpha(opacity=50);

	/* Netscape
	-moz-opacity: 0.5;

	/* Safari 1.x *
	-khtml-opacity: 0.5;

	/* Good browsers *
	opacity: 0.5;
}

#nav-public:hover {
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;

  	/* IE 8
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";

	/* IE 5-7
	filter: alpha(opacity=1);

	/* Netscape
	-moz-opacity: 1;

	/* Safari 1.x
	-khtml-opacity: 1;

	/* Good browsers
	opacity: 1;
}
*/
.navbar-default .navbar-nav > li > .btn-twitter {
	color: #55acee;
}

.navbar-default .navbar-nav > li > .btn-twitter:hover{
	color: #309aea;
}

.navbar-default .navbar-nav > li > .btn-instagram {
	color: #3f729b;
}

.navbar-default .navbar-nav > li > .btn-instagram:hover{
	color: #335d7e;
}

.navbar-default .navbar-nav > li > .btn-all {
	color: #444;
}

.navbar-default .navbar-nav > li > .btn-all:hover {
	color: #303030;
}

#nav-public{
	color: #f8f8f8;
	border-bottom-width: 1.9px;
	border-color:  #e74c3c;
}

#nav-public a{
	height: 46px;
}



.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	background-color: #f8f8f8;
}

/*
div > .bootcards-cards > div > .header {
	border-width: 2px;
	border-color: #e74c3c;
}
*/
/*
#nav-public ul{
	height: 10px;
}
*/

.graff {
	display: block;
	margin-top: 4px;
	margin-bottom: 0;
	font-family: 'Erica One', cursive, sans-serif;
	font-size: 1em;
	letter-spacing: -0.01em;
	font-weight: normal;
	text-transform: uppercase;
	color: #212121;
}
img.pull-left.thumb-sm.avatar.b-3x.m-r.post-profile {
	margin-top: 5px;
    margin-left: 5px;
}

#ribbon-container {
	position: absolute;
	top: 12px;
	right: -4px;
	overflow: visible; /* so we can see the pseudo-elements we're going to add to the anchor */
	font-size: 22px; /* font-size and line-height must be equal so we can account for the height of the banner */
}

#ribbon-container:before {
	content:"";
	height: 0;
	width: 0;
	display: block;
	position: absolute;
	top:2.2px;
	left:4.9px;
}

#ribbon-container a {
	display:block;
	padding:20px;
	position:relative; /* allows us to position our pseudo-elements properly */
	background:#ffffff;
	overflow:visible;
	height:29px;
	margin-left:29px;
	text-decoration:none;
}

#ribbon-container a > .fa-twitter {
	color:#55acee;
}

#ribbon-container a > .fa-instagram {
	color:#F44336;
}
#ribbon-container a > i{
	position: relative;
    top: -15px;
}

#ribbon-container a:after { /* this creates the "folded" part of our ribbon */
	content:"";
	height: 0;
	width: 0;
	display:block;
	position:absolute;
	bottom: -14px;
    right: 1.5px;
    border-top: 14.5px solid #9E9E9E;
    border-right: 14.5px solid transparent;
}

#ribbon-container a:before { /* this creates the "forked" part of our ribbon */
	content:"";
	height: 0;
	width: 0;
	display:block;
	position:absolute;
	top:0;
	left:-20px;
	border-top: 20.5px solid #ffffff;
	border-bottom: 20.5px solid #ffffff;
	border-right: 20.5px solid transparent;
	border-left: 20.5px solid transparent;
}

#ribbon-container a:hover {
	background:#212121;
}



#ribbon-container a:hover:before { /* this makes sure that the "forked" part of the ribbon changes color with the anchor on :hover */
	border-top: 20.5px solid #212121;
	border-bottom: 20.5px solid #212121;
}


.panel.panel-default {
	background-color: #ffffff;
	border-color: #424242;
}

.panel-heading.header.clearfix {
	background-color: #ef5350;
	color: #ecf0f1;
}

.panel-footer {

}



