<div style="padding-top: 70px;">
<!--Nav Bar-->
<nav class="navbar navbar-default navbar-fixed-top" id="nav-public">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-right navbar-toggle btn navbar-btn" ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" >
                <b>
                    <h5 class="graff">{{::event.description}}
                        <p class="hash">
                            <small data-ng-repeat="hashtag in event.searchCriterias">
                                #{{::hashtag}}
                            </small>
                        </p>
                    </h5>
                    <!--Replace for event #hashtag-->        
                </b>  
            </a><!--Replace for event name-->
        </div>

        <div class="m-l-xxl m-t-sm" has-role="ROLE_USER" style="float:right">
          <button class="btn btn-sm btn-icon btn-danger m-r-sm"
                data-ng-repeat="hashtag in event.searchCriterias"
                ng-click="openUnsyncModal(hashtag)"
                ng-hide="!hashtag">
            <i ng-show="hashtag[0] === '#'" class="fa fa-twitter fa-2x"></i>
            <i ng-show="hashtag[0] !== '#'" class="fa fa-instagram fa-2x"></i>
          </button>
        </div>

        <div collapse="navCollapsed" class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav ng-scope">
            <li ng-class="{active: isTabActive('home')}" ng-click="filter('home')">
                <a class="fa fa-th-large fa-2x btn-all"></a>
            </li>
            <li ng-class="{active: isTabActive('twitter')}" ng-click="filter('twitter')">
                <a class="fa fa-twitter-square fa-2x btn-twitter"></a>
            </li>

            <li ng-class="{active: isTabActive('instagram')}" ng-click="filter('instagram')">
                <a class="fa fa-instagram fa-2x btn-instagram"></a>
            </li>
          </ul>
        </div>

    </div>

</nav>

<!-- toaster directive -->
  <toaster-container toaster-options="{'position-class': 'toast-bottom-right'}">
  </toaster-container>
<!-- / toaster directive -->

<div class="container wrapper-post">

    <div dynamic-layout items="cards" filters="filters" rankers="rankers" ></div>

</div>

</div>

<div id="post-main-wrapper">
</div>

<!--This works for monitor screen-->

<!--div class="col-md-4">
                <h5>Adding and removing items</h5>

                <div class="btn-group" role="group">
                    <button class="btn btn-default" ng-click="addCard()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-default" ng-click="removeFirstCard()">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>

                </div>
ssss
            </div-->

<!--div class="bg-light lter b-b b-r wrapper-md ng-scope filter-wrapper center-block">
    <div class="row no-gutter text-center b-light text-sm" role="group">
        <div class="col-xs-4 padder-v text-muted b-r" ng-class="{active: isTabActive('home')}" ng-click="filter('home')">
        <a class="fa fa-home block fa-2x btn-all"></a>
        </div>

        <div class="col-xs-4 padder-v text-muted b-r" ng-class="{active: isTabActive('twitter')}" ng-click="filter('twitter')">
            <a class="fa fa-twitter-square block  fa-2x btn-twitter"></a>
        </div>

        <div class="col-xs-4 padder-v text-muted" ng-class="{active: isTabActive('instagram')}" ng-click="filter('instagram')">
            <a class="fa fa-instagram block fa-2x btn-instagram"></a>
        </div>
    </div>
</div-->

