<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> Resúmen Evento de Organizaciones(Agregar en local storage objeto en lugar de id)</h1>
</div>

<div class="wrapper-md">
  
  <div class="panel wrapper">    
    <div class="row">
      <div class="col-md-6 b-r b-light no-border-xs">
        <div class="m-b">
          <span class="h4 font-thin m-t-none m-b-xl text-muted"> Eventos Finalizados </span>
        </div>
        <div class="m-b">
          <div class="m-b" ng-repeat="finalizedEvent in finalizedEventsByOrg">
            <span class="label text-base bg-dark lter pos-rlt m-r">
              <i class="arrow right arrow-dark"></i>
              {{ finalizedEvent.startDate | date:"dd/MM/yyyy" }}
              -
              {{ finalizedEvent.endDate | date:"dd/MM/yyyy" }}
            </span>
            <span> {{ finalizedEvent.description }} </span>
          </div> 
          <div class="m-b" ng-show="!finalizedEventsByOrg.length">
            <span class="label text-base bg-info pos-rlt m-r">
              No ha realizado ningún evento
            </span>
          </div>
        </div>
      </div>


      <div class="col-md-6 b-light no-border-xs">
        <div class="m-b">
          <span class="h4 font-thin m-t-none m-b-xl text-muted"> Total de Publicaciones Obtenidas </span>
        </div>

      </div>
    </div>
  </div>

  <!-- hacer graficos para tener a Alvaro contento
  div class="panel wrapper">
    <div class="row">
      <div class="col-md-6 b-r b-light no-border-xs">
        <span class="h4 font-thin m-t-none m-b-md text-muted">
          Total de Publicaciones Obtenidas
        </span>
        <div class="row row-sm text-center">
          <div class="col-xs-6" ng-repeat="postCount in postsCount">
            <div class="panel padder-v item">
              <div class="h1 text-info font-thin h1"> {{ postCount.cant }} </div>
              <span class="text-muted text-xs"> {{ postCount.name }} </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 b-light no-border-xs">
      </div>
    </div>
  </div-->
</div>
