<div class="container-fluid">

    <h2>Social Dump</h2>

    <!--Replace for event name-->
    <h1 class="text-center title">Event Name
        <!--Replace for event #hashtag-->
        <p><small>#Hashtag</small></p>
    </h1>

    <div class="bg-light lter b-b wrapper-md ng-scope">
        <div class="btn-group" role="group">
            <button class="btn btn-default" ng-class="{active: isTabActive('home')}" ng-click="filter('home')">All</button>
            <button class="btn btn-default" ng-class="{active: isTabActive('twitter')}" ng-click="filter('twitter')">Twitter</button>
            <button class="btn btn-default" ng-class="{active: isTabActive('instagram')}" ng-click="filter('instagram')">Instagram</button>
        </div>
    </div>


            <!--div class="col-md-4">
                <h5>Adding and removing items</h5>

                <div class="btn-group" role="group">
                    <button class="btn btn-default" ng-click="addCard()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-default" ng-click="removeFirstCard()">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>

                </div>

            </div-->
    <div class="wrapper-md" ng-controller="ScrollController">
        <div ui-scroll-viewport class="row" style="height: 400px; overflow-y: auto; display: block;">
            <div dynamic-layout items="cards" filters="filters" rankers="rankers" ></div>
        </div>
    </div>

</div>

