<!-- list -->
<ul ng-cloak class="nav">

  <li has-role="ROLE_USER">
    <a ui-sref="dashboard" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold"> Dashboard </span>
    </a>
  </li>

  <li has-role="ROLE_USER">
    <a ui-sref="organizations" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-users icon text-primary-dker"></i>
      <span class="font-bold"> Organizaciones </span>
    </a>
  </li>

  <li has-role="ROLE_USER">
    <a ui-sref="monitors" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-users icon text-primary-dker"></i>
      <span class="font-bold"> Monitores </span>
    </a>
  </li>

  <li has-role="ROLE_USER">
    <a ui-sref="event.list" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-th-large icon text-primary-dker"></i>
      <span class="font-bold"> Eventos </span>
    </a>
  </li>

  <li has-role="ROLE_USER">
    <a ui-sref="accesses" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-users icon text-primary-dker"></i>
      <span class="font-bold"> Accesos </span>
    </a>
  </li>

  <li has-role="ROLE_USER">
    <a ui-sref="summaries" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-history icon text-primary-dker"></i>
      <span class="font-bold"> Resúmenes </span>
    </a>
  </li>
</ul>
<!-- / list -->
